@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}
h1{
    text-align: center;
}

.emoji-face{
    width: 100px;
    height: 100px;
    background-color: #F2DD68;
    margin: 20px;
    border-radius: 50%;
    position: relative;
    transition: transform 0.5s;
}

.eye1{
    position: absolute;
    background-color: #995710;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    left: 30px;
    top: 30px;
}
.eye2{
    position: absolute;
    background-color: #995710;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    right: 30px;
    top: 30px;
}
.mouth{
    width: 60px;
    height: 30px;
    background-color: #995710;
    border-radius: 0 0 40px 40px;
    position: absolute;
    top: 60px;
    left: 21px;
    overflow: hidden;
}
.tongue{
    width: 40px;
    height: 20px;
    background-color: #E25C5C;
    border-radius: 50px 50px 0 0;
    position: absolute;
    top: 10px;
    left: 10px;
}
.mouth-shock{
    width: 20px;
    height: 23px;
    background-color: #995710;
    border-radius: 50px 50px 50px 50px;
    position: absolute;
    top: 60px;
    left: 40px;
}
.mouth-speechless{
    width : 40px;
    height: 4px;
    background-color: #995710;
    position: absolute;
    top: 60px;
    left:30px;
}
.wrapper{
    position: relative;
    left: 550px;
}
.emoji-face{
    float: left;
}
.write-up{
    position: absolute;
    top: 300px;
    background-color: #d8aa2b;
    width: 50%;
    left: 23%;
    padding: 40px;
    border-radius: 5%;
}
p{
    text-align: justify;
}
.Kalvium{
    text-align: center;
}
.emoji-face:hover{
    transform: scale(1.3);
}